<!--<h1>{{i18n "mass_anonymize.title" }}</h1>

<p>Status: {{this.model.something}}</p>-->

<div class="buttons">
<DButton
  @label="mass_anonymize.get_users_btn"
  @action={{action "getUsers"}}
  @icon="eye"
  @id="get-users"
/>

</div>

{{#if this.isLoading}}
Loading...
{{/if}}

<ul>
{{#each this.eligibleUsers as |user|}}
<li>{{user.username}} ({{user.days_since}})</li>
{{else}}
<li>Sorry, nobody here</li>
{{/each}}
</ul>